<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Librería Casa del Libro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Librería Casa del Libro</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'catalog' %}">Catálogo</a></li>
                <li><a href="{% url 'contact' %}">Contacto
                </a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main> 
    <footer>
        <p>&copy; 2024 Librería Casa del Libro. Todos los derechos reservados.</p>
    </footer>
    
</html>