<!-- @format -->

{% extends 'base.html' %} {% load static %} {% block title %}{{
libro.nombreLibro }}{% endblock %} {% block content %}
<section id="detalle-libro">
  <article class="libro-detalle">
    {% if libro.imagen %}
    <img src="{{ libro.imagen.url }}" alt="{{ libro.nombreLibro }}" />
    {% else %}
    <img src="{% static 'img/default.jpg' %}" alt="Sin portada" />
    {% endif %}

    <div class="info-libro">
      <h2>{{ libro.nombreLibro }}</h2>
      <p>
        <strong>Autor:</strong> {{ libro.autor.nombre }} {{ libro.autor.apellido
        }}
      </p>
      <p><strong>Precio:</strong> $ {{ libro.precio }}</p>

      <a href="{% url 'libros' %}" class="btn-volver"> ← Volver al catálogo </a>
    </div>
  </article>
</section>
{% endblock %}
